/* CSS compiled from Stylus */
/* --------------------------------------- */

// Import Stylusline base files in order so variables are read correctly.
@import 					"base/reset"
@import 					"base/variables"
@import 					"base/modular-scale"
@import 					"base/mixins"
@import 					"base/typography"

// Import all Stylus modules with globbing.
@import 					"modules/*"

// Demo baseline grid styles
.baseline

	&.show-grid
		background 			linear-gradient(to bottom,rgba(50,50,50, 0.2)0,rgba(50,50,50, 0.2)1px,rgba(255, 255, 255, 0)1px,rgba(255, 255, 255, 0)2px)
		background-size		100% 1rem