/* Footer demo styles */
/* --------------------------------------- */

.global-footer
	background			$headBackgroundColour
	border-top			0.1rem solid darken($headBackgroundColour,10%)

	p
		color			$white
		font-family		$headingtype[font-family]
		font-style		normal
		font-weight		$headingtype[regular]
		margin			0
		padding			1rem 0
		text-align		center
		@include 		fontsize(eta, all)